<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<system.web>
    <sessionState mode="InProc" />
  </system.web>-->
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime />
    <customErrors allowNestedErrors="true" defaultRedirect="~/Error.aspx" redirectMode="ResponseRewrite" mode="On">
      <error statusCode="401" redirect="~/Error.aspx?result=401" />
      <error statusCode="403" redirect="~/Error.aspx?result=401" />
      <error statusCode="404" redirect="~/Error.aspx?result=404" />
    </customErrors>
    <trust level="Full" />
    <authentication mode="None"/>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed">
      <!--<remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" responseMode="Redirect" path="/Error.aspx?result=404" />-->
    </httpErrors>
    <modules>
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <connectionStrings>
    <!--LOCALHOST DATABASE CONNECTION STRING-->
    <!--<add name="DatabaseModel" connectionString="data source=.\SQLEXPRESS;initial catalog=NHS_Management_System;MultipleActiveResultSets=True;App=EntityFramework;TrustServerCertificate=True;Trusted_Connection=True;Encrypt=True;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
    <!-- ################################## -->

    <!--ONLINE DATABASE CONNECTION STRING-->
    <!--<add name="DatabaseModel" connectionString="data source=ds.cloudli.co.uk;initial catalog=allreact_com_1;User ID=allreact_com_1;Password=6JU87xSU457C21406c;Integrated Security=False;" providerName="System.Data.SqlClient" />-->
    <add name="DatabaseModel" connectionString="data source=den1.mssql6.gear.host;initial catalog=group30nhssystem;MultipleActiveResultSets=True;App=EntityFramework;User ID=group30nhssystem;Password=GROUP30_PASSWORD;TrustServerCertificate=True;Trusted_Connection=True;Encrypt=True;Integrated Security=False;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="admin@nhs.co.uk" deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" userName="group30nhsmanagementsystem@gmail.com" password="CatsAndDogs2018" enableSsl="true" clientDomain="smtp.gmail.com" />
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.1.0" newVersion="2.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.TelemetryCorrelation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.1.0" newVersion="1.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>